/* Базовые стили для всех экранов */
*{
    transition: all 1s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f2f5;
}

.form-container {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 2%;
    border-radius: 15px;
}

h2 {
    color: #333;
}

input,
textarea,
button {
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    height: 40px;
}

button:hover {
    background-color: #218838;
}

.form-row{
    margin: 30px;
}

.form-row label{
    display: block;
}
.form-row *{
    width: 100%;
    height: 60px;
}

.full-width textarea{
    height: 300px;
}

@media (min-width: 1000px) {
    .form-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .form-row{
        margin-left: 30%;
        align-items: end;
        display: flex;
        width: 100%;
    }
    .form-row label{
        width: 100px;
    }
    .form-row input{
        width: 75%;
    }
    .full-width{
        margin-left: 0;
    }
    .full-width *{
        width: 100%;
    }
    button{
        width: 20%;
    }
}
