.new1{
    background: url("../img/1.jpg");
}
.new2{
    background: url("../img/2.jpg");
}
.new3{
    background: url("../img/3.jpg");
}
.new4{
    background: url("../img/4.jpg");
}
.new5{
    background: url("../img/5.jpg");
}
.image{
    display: block;
    background-size: cover;
    width: 100%;
    height: 70vh;
}